Agenda de Ocorrencia Zevo.json
{
  "name": "Agenda de Ocorrencia Zevo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -272
      ],
      "id": "fdc04981-581c-486f-b7cf-998f16154a47",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-5244592277",
        "file": "https://i.postimg.cc/C5k9Ft0L/Matt.png",
        "additionalFields": {
          "caption": "={{ $json.mensagem }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -288
      ],
      "id": "0b4b2df9-79d8-4375-a688-a112a3fc0491",
      "name": "Send a photo message",
      "webhookId": "6a004321-1e4c-47e1-905a-3719485e0267",
      "credentials": {
        "telegramApi": {
          "id": "dNermtAV5IUJnlkD",
          "name": "MattZevo.bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let listaTecnicos = \"\";\nlet somaVagas = 0;\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let nome = data[\"Tecnico\"] || \"\";\n  let vagas = data[\"Vagas Restantes\"];\n\n  let nomeLimpo = nome.toString().replace(':', '').trim();\n  let numVagas = parseInt(vagas);\n\n  if (nomeLimpo && !isNaN(numVagas) && nomeLimpo.toLowerCase() !== \"tecnico\") {\n    listaTecnicos += `👤 <b>${nomeLimpo}</b>: <b>${numVagas}</b> vagas\\n`;\n    somaVagas += numVagas;\n  }\n}\n\n// Montagem da mensagem com as observações solicitadas\nconst mensagemFinal = `\n📢 <b>STATUS DE VAGAS - ZEVO</b>\n\n${listaTecnicos}\n---\n🚀 <b>TOTAL GERAL: ${somaVagas}</b>\n\n⚠️ <b>OBS:</b> Lembrando que a região de Corumbá pode haver alteração de rotas e com isso as vagas diminuírem de acordo com a atividade no local. Consulte o Borges para tirar qualquer dúvida.\n\n🛠️ <b>OBS²:</b> Estou em fase de testes, então qualquer dúvida acione o Matheus B. para esclarecimento.\n\n<i>Atualizado em: ${new Date().toLocaleDateString('pt-BR')}</i>\n`.trim();\n\nreturn {\n  mensagem_telegram: mensagemFinal\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -272
      ],
      "id": "f45d16f7-e0df-45a4-a9a8-eb43d36cea66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P5E5aJHtYF_rsuN0kARkX-9fGQHnwJSK_5RjbJ-GA3s",
          "mode": "list",
          "cachedResultName": "Agenda Zevo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P5E5aJHtYF_rsuN0kARkX-9fGQHnwJSK_5RjbJ-GA3s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1876147887,
          "mode": "list",
          "cachedResultName": "Total",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P5E5aJHtYF_rsuN0kARkX-9fGQHnwJSK_5RjbJ-GA3s/edit#gid=1876147887"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -512
      ],
      "id": "d0b00292-e3ce-497a-b71a-eda1fb3efead",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jo5Tp3oAKTmnua6J",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-5244592277",
        "file": "=https://i.postimg.cc/d1XzwzQx/Aviso.png",
        "additionalFields": {
          "caption": "={{ $json.mensagem_telegram }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -544
      ],
      "id": "d6d8113c-6e2f-4a52-85d5-8fd0197e4719",
      "name": "Send a photo message1",
      "webhookId": "6a004321-1e4c-47e1-905a-3719485e0267",
      "credentials": {
        "telegramApi": {
          "id": "dNermtAV5IUJnlkD",
          "name": "MattZevo.bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tecnico = \"Matheus B.\"; // 👈 ALTERA AQUI\n\nreturn [\n  {\n    json: {\n      mensagem: `⚠️ <b>AVISO OPERACIONAL</b>\n\nO técnico <b>${tecnico}</b> está de folga hoje.\n\nDevido a isso, a quantidade de vagas foi reduzida.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -512
      ],
      "id": "1a2c59e3-862e-4e58-8fee-60a5a8ce40e6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -288
      ],
      "id": "fdc0d8c0-91e3-4854-bfbb-cec805429f0b",
      "name": "FALTA DE TECNICO"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FALTA DE TECNICO": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "249d31b7-206d-4629-ae1d-80f1af3a0d1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c020707bc0fbc7d29ce3ed684fdc0aa9247e26378cff6252bff526306116b932"
  },
  "id": "DF0i34TJfbJJ04kf",
  "tags": []
}